/target/advent-of-code-2020v2-1.0-SNAPSHOT.jar
/target/classes/com/maartenmusic/util/ArrayGenerator.class
/target/test-classes/com/maartenmusic/util/ArrayGeneratorTest.class
/target/classes/com/maartenmusic/day5/BoardingPass.class
/target/test-classes/com/maartenmusic/day5/BoardingPassTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/com/maartenmusic/day5/Day5.class
/target/classes/com/maartenmusic/day7/Day7.class
/target/test-classes/com/maartenmusic/util/FileReadersTest.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/com/maartenmusic/day4/Passport.class
/target/classes/com/maartenmusic/day4/PassportValidator.class
/target/test-classes/com/maartenmusic/day2/PasswordPosTest.class
/target/maven-archiver/pom.properties
/target/classes/com/maartenmusic/day5/Seat.class
/target/classes/com/maartenmusic/day5/SeatNotFoundError.class
